<div ng-controller="recordsCtrl">
	<h1>Records</h1>
	
	<div class="row">
		<div class="col-12 col-lg-4">
			<form>
				<div class="form-group">
					<label for="time">Time</label>
					<input class="form-control" id="time" ng-model="newRecord.time">
				</div>
				<div class="form-group">
					<label for="duration">Duration</label>
					<input class="form-control" id="duration" ng-model="newRecord.duration">
				</div>
				<div class="form-group">
					<label for="intensity">Intensity</label>
					<input  class="form-control" id="intensity" ng-model="newRecord.intensity">
				</div>
				<div class="form-group">
					<label for="user">User</label>
					<select class="form-control" id="user" ng-model="newRecord.userId">
						<option ng-repeat="u in users" value="{{u.id}}">{{u.firstname}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="activity">Activity</label>
					<select class="form-control" id="activity" ng-model="newRecord.activityId">
						<option ng-repeat="a in activities" value="{{a.id}}">{{a.name}}</option>
					</select>
				</div>
				
				<button class="btn btn-primary" ng-click="doAdd()">Add</button>
			</form>
		</div>
		
		<br>
		
		<div class="col-12 col-lg-8">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Time</th>
						<th>Duration</th>
						<th>Intensity</th>
						<th>User</th>
						<th>Activity</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="r in records">
						<td>{{r.time}}</td>
						<td>{{r.duration}}</td>
						<td>{{r.intensity}}</td>
						<td>{{r.userName}}</td>
						<td>{{r.activityName}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>